*{
    box-sizing: border-box;
}
div{
    margin: 5px;
}
.min-content{
    width: min-content;
    border: 5px dotted dodgerblue;
    padding: 20px;
    span{
       color: red;
       font-size: 20px; 
    }
}
.max-content{
    width: max-content;
    border: 5px dotted dodgerblue;
    padding: 20px;
    span{
        color: red;
        font-size: 20px; 
     }
}

.parent{
    margin: 20px;
    width: 250px;
    border: 8px dotted green;
    padding: 2px;
}

.fit-content{
    width: fit-content;
    border: 5px dotted dodgerblue;
    padding: 20px;
    span{
        color: green;
        font-size: 20px; 
     }
}