<div class="min-content">
    Hello lets understand min-content 
    <span>(min-content).</span>
</div>
<div class="max-content">
    Hello lets understand max-content 
    <span>(max-content).</span>
</div>

<div class="parent">
    <div class="max-content">
       When max content is used in 
       narrow view port or 
       parent with limited size
        <span>(max-content).</span>
    </div>
</div>

<div class="parent">
    <div class="fit-content">
       When fit content is used in 
       narrow view port or 
       parent with limited size
        <span>(fit-content).</span>
    </div>
</div>